{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": ["last 2 versions", ">= 5% in KR"]
				}
			}
		],
		"@babel/react",
		"@babel/typescript"
	],
	"plugins": [
		["module-resolver", {
			"alias": {
				"@src": "./src"
			}
		}]
	],
	"env": {
		"development": {
			"plugins": ["babel-plugin-styled-components"]
		}
	}
}